@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --themeColor: #0DCAF0;
   --sectionHeading: #0dcaf063;
}

::selection {
   background: var(--themeColor);
   color: #fff;
}

.sectionHeading::selection {
   background: var(--sectionHeading);
}